

<div class="row padding-terms">
	<div class="col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
	<div id="title">
		<h2 class="color-text">Política de Privacidad</h2>
	</div>
		<h3 class="color-text">Información recopilada</h3>
		<p class="text">
			SONE recopila toda aquella información que el USUARIO brinda al registrarse en el sitio web 
			<%= link_to "http://www.sone.com.mx", root_path%>, realizar un pedido, suscribirse al boletín o responder a sus encuestas.
		</p>
		<p class="text">
			Los datos solicitados, según la acción que corresponda, pueden ser: nombre, dirección de correo electrónico, dirección postal, número de teléfono y/o información de su tarjeta de crédito.
		</p>
		<p class="text">
			Destacar que el USUARIO puede visitar el sitio de forma anónima.
		</p>
		<h3 class="color-text">Uso de la información</h3>
		<p class="text">
			La información recopilada tiene como objetivo brindar mejores servicios a los USUARIOS:
		</p>
		<ul class="check">
			<li class="list"><strong>Personalizar su experiencia</strong> mediante soluciones y/o propuestas más adaptadas a las necesidades individuales de cada USUARIO.</li>
			<li class="list"><strong>Optimizar oferta y contenidos</strong>con base en la experiencia y retroalimentación del USUARIO.</li>
			<li class="list"><strong>Mejorar el servicio</strong>por medio de una respuesta más eficaz a solicitudes del USUARIO y/o a sus necesidades de soporte técnico.</li>
			<li class="list"><strong>Procesar transacciones de compra</strong>con el único propósito de entregar el producto o servicio solicitado.</li>
			<li class="list"><strong>Crear informes o gráficos</strong>del uso de la herramienta dirigidos al público general. La información empleada no identificará directamente a ningún USUARIO.</li>
			<li class="list"><strong>Administrar un concurso</strong>,promoción, encuesta u otra función del sitio. Esporádicamente se puede hacer llegar al USUARIO ofertas o promociones del servicio, así como solicitar información sobre su experiencia con respecto a SONE.</li>
			<li class="list"><strong>Enviar correos electrónicos informativos</strong>:actualizaciones del pedido realizado por el USUARIO, noticias de la compañía, novedades en productos o servicios, etc. En caso de que el USUARIO desee darse de baja de estas notificaciones, deberá seguir las instrucciones de cancelación detalladas en la parte inferior de cada correo.</li>
		</ul>
		<h3 class="color-text">Protección de la información</h3>
		<p class="text">
			SONE implementa una variedad de medidas para mantener la seguridad de la información que el USUARIO brinda al interactuar con el sitio web.
			Se ofrece el uso de un servidor seguro. Toda la información confidencial o crediticia suministrada por el USUARIO o generada a partir de la utilización del servicio, se transmite a través de la tecnología SSL (Secure Socket Layer). Posteriormente es cifrada en la base de datos de SONE para que únicamente sea accesible por aquellos proveedores autorizados con derechos especiales de consulta de información de carácter confidencial.
		</p>
		<h3 class="color-text">Uso de cookies</h3>
		<p class="text">
			Las cookies son pequeños archivos que un sitio o proveedor de servicios transfiere al disco duro de su computadora a través de su navegador web. Esto permite que sitios o proveedores de servicios web reconozcan su navegador para capturar y recordar cierta información.
		</p>
		<p class="text">
			SONE utiliza cookies para conocer y guardar las preferencias del USUARIO con el propósito de mejorar su experiencia en futuras visitas. También compila datos agregados durante la interacción en el uso del servicio para diseñar y ofrecer mejores herramientas en el futuro.
		</p>
		<p class="text">
			SONE puede contratar proveedores de servicios para que le ayuden a comprender mejor a los visitantes de su sitio web. A estos proveedores sólo se les permitirá usar la información recopilada por SONE para ayudar a conducir y mejorar el negocio.
		</p>
		<p class="text">
			Si lo prefiere, el USUARIO puede elegir que su computadora le avise cada vez que se envía una cookie, o puede optar por desactivar todas las cookies a través de la configuración de su navegador.	
		</p>
		<h3 class="color-text"></h3>
		<p class="text"> 
			SONE no vende, comercializa o transfiere a terceros la información personal identificable de sus USUARIOS.
		</p>
		<p>Matices al punto anterior:</p>
		<p class="text">
			(I) SONE únicamente permite el acceso a su sistema a terceros de su confianza que le ayuden a operar su sitio web, dirigir el negocio o prestar el servicio. En estos casos, siempre existirá un acuerdo de confidencialidad entre las partes.	
		</p>
		<p class="text">
			(II) SONE puede divulgar información del USUARIO cuando considere que su liberación es apropiada para cumplir con la Ley, las políticas de su sitio web, o proteger la seguridad o derechos de propiedad, de SONE o de terceros.
		</p>
		<h3 class="color-text">Consentimiento</h3>
		<p class="text">
			Al utilizar el sitio de SONE el USUARIO acepta la Política de Privacidad publicada.
		</p>
		<h3 class="color-text">Cambios en la Política de Privacidad</h3>
		<p class="text">
			Cualquier cambio en la Política de Privacidad de SONE será publicado en esta misma página:
			<%= link_to "http://www.sone.com.mx", root_path%>.
		</p>	
		<h3 class="color-text">Contacto</h3>
		<p class="text">
			Si tiene cualquier duda con respecto a esta Política de Privacidad puede contactarnos a través de los siguientes medios:	
		</p>
		<h4 class="color-text">Dirección postal:</h4>
		<ul>
			<li class="point">Customer Comfort SA de CV</li>
			<li class="point">Cerrada Presa Escolta 181-12</li> 
			<li class="point">Col. San Jerónimo Lídice</li>
			<li class="point">Magdalena Contreras</li>
			<li class="point">CP 10200</li>
			<li class="point">CDMX, México</li>
		</ul>
		<h4 class="color-text">Dirección electrónica:</h4>
		<p class="text" style="padding-bottom: 30px;">soporte@sone.com.mx</p>
	</div>
</div>
<%= render "layouts/static_footer" %>