
<div class="container-fluid">
  <div class="row">
    <div id="banner-container">
      <p class="banner-text">
        Empieza con un periodo de prueba gratis y <span class="green">descubre el potencial que <strong>sone</strong> representa para tu negocio.</span>
      </p>
      <p class="banner-text">
        Es gratis y no necesitas trajeta de crédito.
      </p>
      <a href="" class="trial-free">Prueba gratis</a>
    </div>
  </div>
</div>
