
<div class="row row-0">
	<div class="col-md-1 col-sm-1 col-xs-1"><br></div>
	<div class="col-md-10 col-sm-10 col-xs-10">
		  <h1 class="pink"><%= t(#"views.payments.new_payment.title") %></h1> 
		  <br>
		  <%= link_to t("views.payments.new_payment.link_historial"), payment_records_path, class: "btn send-button pull-right", style: 'margin-bottom: 2%;' %>
      <%= render 'form' %>
  </div>
</div>
