<div class="row">
  <% @contacts_feedback.each do |answer| %>
    <div class="row feedback-answer container-fluid">
      <div class="col-md-5 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><%= fa_icon(Answer.get_icon(answer.score)) %><span class="feedback-answer-date pull-right"><%= answer.created_at.strftime("%d-%m-%Y") %></span></h4>
          </div>
          <div class="panel-body">
            <%= answer.comment %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-md-5 col-md-offset-1">
    <%= will_paginate @contacts_feedback, remote: true, params: {format: 'js'} %>
  </div>
</div>
