<% provide(:title, 'Editar Campaña') %>
<div class="row">
	<div class="col-md-1 col-sm-1 col-xs-1"><br></div>
	<div class="col-md-10 col-sm-10 col-xs-10">
		<div class="page-header">
		  <%= link_to campaigns_path, class: 'btn btn-default button-pink' do %>
		    <span class="glyphicon glyphicon-list-alt"></span>
		    	Regresar
		  	<% end %>
		  	<%= link_to @campaign, class: 'btn btn-default button-pink' do %>
		    	<span class="glyphicon glyphicon-info-sign"></span>
		    	Mostrar
		  	<% end %>

			<%= render 'form' %>

		</div>
	</div>
	<div class="col-md-1 col-sm-1 col-xs-1"></div>
</div>
	

