<div class="page-header">
  <%= link_to campaigns_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Regresar
  <% end %>
  <h1>Nueva campaña</h1>
</div>

<%= render 'form' %>
