@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-colorpicker';
@import 'd3c3_rails';

$green: #cbc86f;
$pink: #9a4479;

.overflow{
	overflow: auto;
}

.c3-target-NPS .c3-line {
  stroke-width: 5px;
}

.c3-target-NPS.c3-focused path.c3-line, .c3-target-NPS.c3-focused path.c3-step {
  stroke-width: 5px;
}
@media (min-width: 768px){
  .affix-content .container {
    width: 700px;
  }   

  html,body{
    background-color: #f8f8f8;
    height: 100%;
    overflow: hidden;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
  .sidebar-nav{
        position:fixed; 
        width:100%;
  }
  .affix-sidebar{
    padding-right:0; 
    font-size:small;
    padding-left: 0;
  }  
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 
  .affix-content{
    background-color:white; 
  } 
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0; 
    margin-bottom:0; 
    border:0;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }  
}

@media (min-width: 769px){
  .affix-content .container {
    width: 600px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }  
}

@media (min-width: 992px){
  .affix-content .container {
  width: 900px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 1220px){
  .affix-row{
    overflow: hidden;
  }

  .affix-content{
    overflow: auto;
  }

  .affix-content .container {
    width: 1000px;
  }

  .affix-content .container .page-header{
    margin-top: 0;
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
  }  
  .affix-title{
    border-bottom: 1px solid #ecf0f1; 
    padding-bottom:10px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse{
    padding: 0;
  }
  .sidebar-nav .navbar li a:hover {
    background-color: #428bca;
    color: white;
  }
  .sidebar-nav .navbar li a > .caret {
    margin-top: 8px;
  }  
}

.page-header{
  margin: 10px 0 20px;
}
/* left menu */
#sone_icon{
	width: 100px!important;
	display: block;
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 3%;
}

.left-menu{
  margin-left: 3%;
}

.pink{
  color: #b2427c;
}

.back-white{background-color: white!important;}
@media (max-width: 767px){
	.center{text-align: center;}
	#sone_icon{
		margin: 0 auto;
	}
}

#sidenav01{
  li.center:hover{
    background-color: $green;
  }

  li.center a:hover{
    background-color: $green;
  } 
}
/* Menu top */
.no-border{border: 0!important;}

.menu-top{
	width: 100%;
	height: 65px;
	background-color: #606060;
	color: white;
	padding-top: 2.5%;
	padding-left: 3%;
}
.padding-left{
	padding-left: 8px;
}
.padding-bottom{
	padding-bottom: 20px!important;
}
.text-right{
	text-align: right;
}
.capitalize{
	text-transform: uppercase;
}
.middle-align{
	vertical-align: middle!important;
}
.shadow-inset-left{
	box-shadow: inset 7px 0 20px -4px rgba(0,0,0,0.4);
}
.small-img{
	max-width: 20px!important;
	display: inline-table;
	padding-right: 3px;
}

@media (min-width: 768px) {
	.content-container{
		margin: 0!important;
		padding: 0!important;
		width: 100%!important;
	}
	.nopadding{
		padding: 0!important; 
	}	
}
@media (min-width: 992px) {
	#black-list{
		width: 42%;
	    border: 1px solid #b2427c;
	    text-align: center;
	    border-radius: 10px;
	    background-color: #b2427c;
	    border-radius: 17px;
	    padding: 7px 13px;
	    color: white;
	}
	a:hover{
		text-decoration: none;
		color: white;
	}
	.border-pink{
		text-align: center;
	    border: 2px solid #b2427c;
	    border-radius: 10px;
    	padding: 5px 11px;
    	color: white;
	}
}
/* table style*/
.th-no-border{
	background: #b3b3b3!important;
    border: inset 0pt!important;
    text-align: center!important;
    padding: 22px 16px!important;
    color: white!important;
}
.tr-pad{
	padding-top: 8.5%!important;
}
.table-shadow{
	box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.55);
}
.table-responsive{
  margin-bottom: 8vh;
}
.td-no-border{
	border-bottom: 0!important;
	border-top: 0!important;
	background-color: white!important;
}
.table-no-margin{
	margin-bottom: 0px;
  	border: none;
}
.black{
	color: black;
}
.black:hover{
	color: #b2427c;;
}
.box-color{
	height: 30px;
	width: 30px;
	border-radius: 100%;
}
.div-center{
	margin: 0 auto!important;
}
.logo-cam{
	width: 80%;
	height: auto;
}
.width-10{
	width: 10%!important;
}