.sign-in{
  background-image: url("<%= root_url %>login-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
}

.form-radius{
  border-radius: 0!important;
}

.registrate-gratis{
  color: #cbc86f;
  text-align: center;
}
#margin-con{
  margin: 15px;
}
.login-icons{
  height: auto;
  padding: 3px;
}
.terms{
  padding: 0;
  font-size: 16px;
  border: 0;
  background-color: white;
  color: #727272;
}
.terms:hover{
  text-decoration: underline;
  padding: 0;
  background-color:white;
  color: black;
}
.login-icon{
  height: 60px;
  width: 60px;
  padding: 13px;
}

 .margin-icon{
    margin-top: 10%
 }

.login-icon:hover{
  border: 1px solid #c6c36e;
  border-radius: 100px;
}

.login-icons:hover{
  border: 1px solid #9a4479;
  border-radius: 50%;
}

.con{
  margin: 2px;
  text-align: center;
  font-size: 20px;
  color: #c6c36e;
}

#compu{
  position: absolute;
  width: 55vw;
  height: auto;
  right: 1vw;
  bottom: 0vh;
  z-index: 3;
}

#login-button{
  background-color: #9a4479;
  color: white;
  border-radius: 50px;
  width: 40%;
}

.container-margin{
  border: 1px solid #9a4479;
  border-bottom: none;
  margin: 5% 4%;
  padding: 5% 4%;
  margin-bottom: 0;
  padding-bottom: 0;
  z-index: 0;
}

.image-upload > input
{
  overflow: hidden;
}

#file-input {
  overflow: hidden;
}
#avatar-file{
  background-image: image-url("avatar.png");
  height: 200px;
  width: 200px; 
  color: transparent; 
  overflow: hidden;
}
#avatar-sign{
  background-color: rgba(178, 66, 124, 0);
  width: 50%;
  height: auto;
}
#avatar-sign:hover{
  border: 1px solid #c6c36e;
}
.image-edit {
  background-clip: content-box;
  background-color: white;
/*  width: 210px;
  height: 170px;
  margin-top: 15%;
  padding: 7%;
  margin-bottom: 15%;*/
}

.text-edit {
  color: white;
}

.tienes-cuenta{
  margin-top: 45%;
}


.border-sign_up{
  border-color: #9a4479!important;
  border-radius: 0px!important;
  background-color: rgba(0, 0, 0, 0)!important; 
}
.img-100{
  max-width: 50%;
}
.text-center{
  text-align: center;
  width: 100%;
}
.margin-top-20{
  margin-top: -50px!important;
}
.img-border{
  border: 1px solid #9a4479;
  border-radius: 100px;
}
.img-abs{
  position: absolute;
  max-width: 10%;  
  padding-left: 5px;
  padding-top:2%;
}
.img-fixed{
  position: absolute;
  max-width: 4%;  
  padding-left: 5px;
  padding-top:2%;
  right: 5%;
  margin-top: 0%;
}
.icon-size{
  max-width: 5%;
  right: 4.5%;
}

.padding-left-15{
  padding-left: 18%!important;
}
.margin-top-up{
  margin-top: -30%!important;
}
.padding-inside{
  padding: 7%;
  padding-left: 12%;
}
.btn-gray{
  background-color: #808080;
  color: white;
  border-radius: 30px;
  border-color: #808080;
  padding: 5px 30px;
}
.btn-gray:hover{
  background-color: #4c4c4c;
  color: white;
  border-color: $gray;
}
.btn-pink{
  background-color: $pink;
  border-radius: 30px;
  padding: 10px 30px;
  color: white;
}
.btn-pink:hover{
  text-decoration: underline;
}
.div-avatar{
  background-color: #242330;
  position: relative;
  
  div{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
  }
}
.sociales{
  -webkit-box-shadow: inset 0px 10px 23px -2px rgba(66,63,66,0.75);
  -moz-box-shadow: inset 0px 10px 23px -2px rgba(66,63,66,0.75);
  box-shadow: inset 0px 10px 23px -2px rgba(66,63,66,0.75);
  padding-top: 55px;
}
.border-circle{
  margin: 0 auto;
  border: 3px solid #c6c36e;
  padding: 10px;
  border-radius: 140px;
}
.avatar-gray{
  margin-bottom: 0;
}
.sociales{
  background-color: #FFFFFF;
}
.center-iamge{
  margin:0 auto!important;
  background-color: white;
}
.fotgot-pass{
  color: $pink!important;
  text-decoration: none;
}
.forgot-pass:hover{
  color: $pink;
  text-decoration: underline;
}
#pass-mail{
  float: right;
  text-align: right;
  right: 5%;
  top: 30px;
  max-width: 27px;

}
.font-20{
  font-size: 20px;
}
.font-40{
  font-size: 40px;
}
.form-sign-up{
  padding-top: 80px!important;
}
.right{
  float: right;
}

.registration-links{
  z-index: 4;
  position: relative;
}
@media (min-width: 992px){
  .login-icons{
    width: 35%;
  }
  .face-icon{
    width: 45%;
  }
  .registrate-gratis{
    font-size: 3.5em;
  }
  .pad-left{
    padding-left: 35%;
  }
  
/*  .login-icon {
    width: 80%;
  }*/

  .container-margin::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40%;
    width: 10%;
    z-index: 1;
    background-image: url("<%= root_url %>login-background.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
  }
} 
@media (max-width: 991px){
  .login-icons{
    width: 30px;
  }
  .width {
    width: 100%;
  }

  .login-icon {
    width: 30px;
  }
  
  #space-icon {
    margin-left: 20px;
  }

  #login-button {
    width: 108px
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
  .img-fixed{
    padding-top:3%;
    right: 6.5%;
  }
  #avatar-sign{
    width: 75%;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
  .img-fixed {
    padding-top: 1%;
    right: 4.5%;
    max-width: 20px;
  }
  #pass-mail{
    top: 28px;
  }
  #sign-up{
    margin-bottom: 20px;
  }
  .login-icon {
    width: 60px;
  }
}

@media (max-width: $screen-xs-max){ 
  .img-fixed {
    padding-top: 2%;
    right: 25px;
    max-width: 20px;
  }
  .div-avatar div{
    position: relative;
    top: 8.5em;
  }
  #sign-up{
    margin-bottom: 20px;
  }
  .login-icon {
    width: 60px;
  }
  .div-avatar{
    background-color: white;
  }
  .sociales{
    box-shadow: inset 0px 10px 23px -2px rgba(255, 255, 255, 0.75);
  }
}
@media (min-width: $screen-lg-min){ 
  .img-fixed {
      position: absolute;
      max-width: 2%;
      padding-left: 5px;
      padding-top: 0.7em;
      right: 5%;
      margin-top: 0%;
  }
}