$pink: #b2427c;
.text-gray{
  color: #727272;
}
.form_pink{
  padding: 5px;
  border: 1px solid $pink;
    border-top-color: $pink!important;
    border-bottom-color: $pink!important;
    color: $pink;
}
.pink-button{
  border: 1px solid $pink;
    border-radius: 20px;
    color: black;
    background-color: $pink;
    color: white;
    padding: 5px 20px;
    width: 20%;
    margin-right: 20%;
    float: right;
}
.gray-button{
  border: 1px solid gray;
    border-radius: 20px;
    color: black;
    background-color: gray;
    color: white;
    padding: 5px 20px;
}
.margin-img{
  margin-top: 10%;
  margin-bottom: 5%;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $pink;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $pink;
  outline: 0 none;
}
@media only screen and (max-width: 768px) {
    .width-80{
      width: 100%;
    }
    .pink-button{
      padding: 5px 15px;
    }
}
@media only screen and (min-width: 768px) {
    .width-80{
      width: 80%;
    }
    .pink-button{
      padding: 5px 20px;
    }
}
