@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-colorpicker';

@font-face {
  font-family: 'SourceSansPro';
  src: asset-url('SourceSansPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SourceSansPro';
  src: asset-url('SourceSansPro-Bold.otf') format('opentype');
  font-weight: bold;
}

$green: #cbc86f;
$pink: #9a4479;

#sone_icon{
  width: auto;
  height: 100%;
  margin-left: 10px;
}

.navbar-default .navbar-brand{
  padding: 2px;
}

.navbar{
  border: none;
}
.font-st{
  font-size: 50px!important;
}

.navbar .nav-btn{
  font-family: "SourceSansPro";
  font-weight: bold;
  font-size: 16px;
  border-radius: 15px;
  padding: 2px 3%;
}

.green{
  color: #cbc86f;
}

.pink{
  color: #9a4479;
}

.white{
  color: white;
}

#faq{
  border: 1px solid $pink;
}

#login{
  border: 1px solid $green;
}

.navbar-brand-center {
  float: none;
}

.navbar-center{
    position: absolute;
    width: 40vw;
    left: 0;
    top: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin: auto;
    height:100%;

    .center-links{
      color: white;
    }

    .center-links.active{
      color: $green;
    }
}

.center-links{
  display: inline-block;
}

.navbar{
  background-color: rgba(40, 39, 50, 0.78);
  position: absolute;
  width: 100vw;
}

@media (max-width: 767px) {
  .navbar-brand-center{
    display: none;
  }

  #navbar-toggle-menu a{
    display: block;
  }
}

@media (min-width: 768px){
  .show-toggle-menu{
    display: none; 
  }
}

#banner-container{
  width: 100vw;
  height: 100vh;
  background-image: image-url("static/banner-pricing.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-text:first-child{
  padding-top: 40vh;
}

.banner-text{
  color: white;
  padding-left: 25vw;
  padding-right: 25vw;
  text-align: center;
  font-size: 1.9em;
  font-family: 'SourceSansPro';
}

@media (max-width: 767px) {
  .banner-text:first-child{
    padding-top: 35vh;
  }
}

@media (max-width: 767px){
  .banner-text{
    font-size: 1.3em;
  }
}
.trial-free{
  position: absolute;
  background-color: $pink;
  bottom: 15vh;
  color: white;
  font-family: 'SourceSansPro';
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  border-radius: 50px;
  left: 0;
  right: 0;
  width: 16vw;
  text-align: center;
  padding: 5px;
  -webkit-box-shadow: 2px 6px 25px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 6px 25px 1px rgba(0,0,0,0.75);
  box-shadow: 2px 6px 25px 1px rgba(0,0,0,0.75);
}
/* Unsuscribe */
.back-image{
  /*background-image: image-url("folder-8.png")!important;*/
  background-color: lightgray!important;
}
#confirm{
  background-color: black!important;
  width: 100%!important;
  height: 100px!important;
}

/* PRICING */
.font-gray{
  color: #66676a;
  font-family: 'SourceSansPro';
}
.font-80{
  font-size: 70px;
  text-transform: uppercase;
  font-family: 'SourceSansPro';
}
.font-65{
  font-size: 45px;
  text-transform: uppercase;
  font-family: 'SourceSansPro';
}
.font-40{
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'SourceSansPro';
}
.font-30{
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'SourceSansPro';
}
.padding-0{
  padding: 0!important;
}
.padding-left-3{
  padding-left: 3%;
}
.padding-left-20{
  padding-left: 20%;
}
.padding-right-6{
  padding-right: 6%;
}
.padding-right-30{
  padding-right: 30%;
}
.padding-left-30{
  padding-left: 30%;
}
.padding-top-4{
  padding-top: 4%;
}
.padding-top-5{
  padding-top: 5%;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.border-left-pink{
  border-left: 2px solid $pink;
}
.border-right-pink{
  border-right: 2px solid $pink;
}
.margin-0{margin: 0;}
.margin-auto{margin:0 auto!important;}
.margin-bottom-0{margin-bottom: 0;}
.margin-bottom-10{margin-bottom: 10%;}
.margin-top-5{margin-top: 5%;}
.padding-bottom-5{padding-bottom: 5%;}
.button-pink{
  background-color: $pink;
  bottom: 15vh;
  color: white;
  font-family: 'SourceSansPro';
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  left: 0;
  right: 0;
  width: 16vw;
  text-align: center;
  padding: 5px;
}
.button-white{
  background-color: white;
  bottom: 15vh;
  color: $pink;
  font-family: 'SourceSansPro';
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  left: 0;
  right: 0;
  width: 16vw;
  text-align: center;
  padding: 5px;
  border: 1px solid;
}
.img-auto{
  max-width: 80%;
}
.img-100{
  max-width: 100%;
}
.img-35{
  max-width: 35%;
}
.img-25{
  max-width: 25%;
}
.img-50{
  max-width: 50%;
}
.box-offer{
  box-shadow: 7px 15px 48px -8px rgba(0, 0, 0, 0.45);
  z-index: 2;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  height: 650px;
}

.link-offer{
  text-decoration: none;
  border: 1px solid $green;
  padding: 8px 20%;
  border-radius: 15px;
  color: white;
  background-color: $green;
  text-transform: uppercase;
  position: absolute;
  left: 12%;
  bottom: 15px;
}
.link-offer:hover{
  color: white;
  text-decoration: none;
}
.tittle-offer{
  color: white;
  margin: 0;
  padding: 0;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  height: 170px;
  background-repeat: no-repeat;
  background-size: 120% 200px;
  background-position: center;
  background-image: image-url("static/BANDA-8.png");

}
.contain{
  height: 100%;

}

@media (min-width: 992px) {
  .box-res{
    width: 22%;
    margin-right: 3%;
  }
  .tittle-offer{
    padding-top: 20%;
  }
  .padding-top-50{
    padding-top: 50%; 
  }
  .padding-top-20{
    padding-top: 20%;
  }
  .border-right-pink{
    padding-right: 3%;
  }
  .button-pink{
    padding: 10px 40px !important;
    font-size: 18px;
  }
  .button-white{
    padding: 10px 40px!important;
    font-size: 18px;
  }
  .padding-top-10{
    padding-top: 10%;
  }
}
@media (max-width: 992px) {
  .box-offer{
    width: 45%!important;
    margin-right: 3%!important;
    margin-left: 2%!important;
  }
  .tittle-offer{
    padding-top: 0%;
  }
  .button-pink{
    padding: 10px 20px!important;
    font-size: 12px;
  }
  .button-white{
    padding: 10px 20px!important;
    font-size: 12px;
  }
}
.triangle{
  height: 0;
  width: 100%;
  border-left: 100px solid transparent;
  border-right: 104px solid transparent;
  border-top: 46px solid black;
}

/* Footer */
footer{
  width: 100%;
  height: 100%;
  background-color: black;
}

